* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
#container {
  width: 500px;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* border: 1px solid #e5e5e5; */
}
ul li {
  padding: 10px;
  /* padding-left: 0; */
  display: flex;
  justify-content: space-between;
  align-items: inherit;
  align-items: center;
}
ul li:hover {
  background: #f3f3f3;
}
h1 {
  text-align: center;
}
.add-task {
  width: 100%;
    outline: none;
    font-size: 15px;
    padding: 11px;
    border: 1px solid rgb(71, 71, 71);
    margin-bottom: 3px;
}
#list a{
  color: red;
}
